.projects-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.scrolling-wrapper {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    height: 50%;
}

.card {
    display: inline-block;
    border: 1px solid black;
    min-width: 400px;
    height: 80%;
    margin: 10px;
}