header {
    display: grid;
    grid-template-columns: auto min-content;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 99;
    background-color: #00000099;
    color: white;
    box-shadow: 4px 6px 12px #00000020;
}

.nameplate {
    margin-top: 10px;
    margin-left: 10px;
}

ul {
    margin-top: 10px;
    background: transparent;
}

.list-group-item {
    display: inline;
    white-space: nowrap;
    background: transparent;
    color: white;
    border: none;
}

body {
    height: 100%;
    max-width: 100%;
}

.info-section { 
    display: grid;
    min-height: 800px;
    height: 100%;
    scroll-margin-top: 50px;
}

.footer {
    display: grid;
    height: 100%;
}

