<div class="links">
    <div class="link-panel">
        <a target="_self" href='assets/Resume.pdf' download="Resume.pdf"></a>
        <button mat-icon-button matTooltip="Download My Resume" (click)="downloadResume()">
            <a target="_self" href='assets/Resume.pdf' download="Resume.pdf"></a>
            <i class="fa-solid fa-file-pdf fa-2xl"></i>
        </button>
    </div>
    <div class="link-panel">
        <button mat-icon-button matTooltip="LinkedIn" onclick="window.location.href='https://www.linkedin.com/in/john-christy-231509b1'">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </button>
    </div>
    <div class="link-panel">
        <button mat-icon-button matTooltip="Email Me!" onclick="window.location.href='https://mail.google.com/mail/u/0/?view=cm&fs=1&to=JohnChristy.Business@gmail.com&su=PORTFOLIO VISIT&body=Greetings John,%0A%0AI am sending you this email from your portfolio webpage.%0A%0ARegards,%0A<YOUR NAME HERE>&tf=1'">
            <i class="fa-solid fa-envelope fa-2xl"></i>
        </button>
    </div>
    <div class="link-panel">
        <button mat-icon-button matTooltip="GitHub" onclick="window.location.href='https://github.com/jchristy3';">
            <i class="fa-brands fa-square-github fa-2xl"></i>
        </button>
    </div>
</div>
