<div class="links">
    <div class="link-panel">
        <button mat-icon-button matTooltip="Download My Resume">
            <i class="fa-solid fa-file-pdf fa-2xl"></i>
        </button>
    </div>
    <div class="link-panel">
        <button mat-icon-button matTooltip="LinkedIn">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </button>
    </div>
    <div class="link-panel">
        <button mat-icon-button matTooltip="Email Me!">
            <i class="fa-solid fa-envelope fa-2xl"></i>
        </button>
    </div>
    <div class="link-panel">
        <button mat-icon-button matTooltip="GitHub">
            <i class="fa-brands fa-square-github fa-2xl"></i>
        </button>
    </div>
</div>
