<div class="search-bar">
    <h1>Skills Search</h1>
    <div>
        <app-tag-search [allTags]="tags" (applyFilter)="searchSkills($event)"></app-tag-search>
    </div>
    <button (click)="toggleAdvancedFilters()">Advanced Filters & Sorting</button>
    <div *ngIf="showAdvancedFilters" class="advanced-filters">
        <div class="experience-level">
            <div>Experience Level</div>
            <div>
                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" [(ngModel)]="experienceLevelInput" (rateChange)="applyAdvancedFilters()"></ngb-rating>
            </div>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Years of Experience</mat-label>
                <mat-select placeholder="Any" [(ngModel)]="yearsExperienceInput" (selectionChange)="applyAdvancedFilters()">
                    <mat-option *ngFor="let year of yearsExperience" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select placeholder="Any" multiple [(ngModel)]="categoryInput" (selectionChange)="applyAdvancedFilters()">
                    <mat-option *ngFor="let cat of skillCategories" [value]="cat.value">
                        {{ cat.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Used Since</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="None Selected" [(ngModel)]="lastUsedInput" (dateChange)="applyAdvancedFilters()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="sort-div">
            <mat-form-field>
                <mat-label>Order By</mat-label>
                <mat-select [(value)]="orderBySelection" [(ngModel)]="orderByInput" (selectionChange)="applyAdvancedFilters()">
                    <mat-option [value]="'experience'">Experience Level</mat-option>
                    <mat-option [value]="'name'">Name</mat-option>
                    <mat-option [value]="'date'">Date Last Used</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Direction</mat-label>
                <mat-select [(value)]="orderDirectionSelection" [(ngModel)]="orderDirectionInput" (selectionChange)="applyAdvancedFilters()">
                    <mat-option [value]="'ASC'">Ascending</mat-option>
                    <mat-option [value]="'DESC'">Descending</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="reset-div">
            <button (click)="resetAdvancedFilters()">Reset</button>
        </div>
    </div>
</div>
<div class="skills-grid">
    <ul class="list-unstyled card-columns" [style.column-count]="showDetails ? 2 : 4">
        <li *ngFor="let skill of skillsShown" (click)="showSkillDetails(skill.id)"
            (mouseover)="onHover(skill.id, $event)" (mouseout)="onMouseOut()">{{ skill.name }}</li>
    </ul>
    <app-skill-details *ngIf="showDetails" [skill]="skillSelected" (closeSkillDetails)="closeSkillDetails()"></app-skill-details>
</div>